/* Google font import - Roboto */

@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Oldal alapbeállítások */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #FFFFD4;
}

div.page-content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 70%;
    margin: 0 auto;
}
/* Header beállítások */

header {
    display: flex;
    width: 100%;
    height: 300px;
    text-align: center;
    align-items: center;
    background-image: url(../img/pilis_bg.jpeg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: 0 auto;
}

h1#page-title {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
    font-variation-settings:
        "wdth" 100;
    color: white;
}


